<!DOCTYPE html>
<!-- This website template was created by: Ngoc Tan -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Forward Fitness Club </title>
  </head>
  <body>

<!-- Use the header area for the website name or logo -->
    <header>
      Forward Fitness Club
    </header>

<!-- Use the nav area to add hyperlinks to other pages within the website-->
    <nav>
      home &nbsp; &nbsp;
      About us &nbsp; &nbsp;
      classes &nbsp; &nbsp;
      Nutrition &nbsp; &nbsp;
      Contact us
    </nav>

<!-- Use the main area to add the main content of the webpage -->
    <main>
    </main>

<!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; copy 2019. all RightsReserved <br> forwardfitness@club.net
    </footer>

  </body>
</html>
